In [1]:
import pandas as pd
import numpy as np

In [2]:
path="../data/raw/"
file="raw_data.csv"
encoding='latin-1'
skiprows=1
#A file elso sora folosleges, encoding hibat ad ki a program utf-8 encodolasra, es a csv ';'-el van elvalasztva.
try:
    
    df=pd.read_csv(path+file, encoding=encoding, delimiter=';', skiprows=skiprows )
    
except UnicodeDecodeError:
    print("Unicode error")
except FileNotFoundError:
    print("A file nem talalhato a "+path+" mappaban")
else:
    print(df)

                                          Megnevezés  2014  2015  2016  2017  \
0  Informatikai szakembereket  alkalmazó vállalko...    ..  27,5  27,4  28,7
1  Informatikai szakemberei részére képzést bizto...   7,7   8,1   8,5   8,1
2  Nem informatikai szakemberei részére informati...  13,3  13,3  14,1  14,3
3  Informatikai szakember állást meghírdetõ válla...  10,4  10,7  11,5  11,8
4  Vállalkozások, akik nehezen tudták a meghírdet...   4,8   5,7   6,3   7,0

   2018  2019  2020  2021  2022  2023
0  27,9  27,4  30,2  30,3  30,6  32,0
1   8,7   8,0   8,3   9,0   9,3    ..
2  13,6  13,9  13,6  14,8  16,0    ..
3  10,8   8,2   6,9   8,3   7,3    ..
4   6,2   4,6   3,9   5,0   5,0    ..

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Megnevezés  5 non-null      object
 1   2014        5 non-null      object
 2   2015        5 non-null      object
 3   2016        5 non-null      object
 4   2017        5 non-null      object
 5   2018        5 non-null      object
 6   2019        5 non-null      object
 7   2020        5 non-null      object
 8   2021        5 non-null      object
 9   2022        5 non-null      object
 10  2023        5 non-null      object
dtypes: object(11)
memory usage: 572.0+ bytes

Elso oszlopot, es sort kihagyva minden ,-t .-ra cserelek

In [ ]:

df.iloc[:, 1:] = df.iloc[:, 1:].replace(",",".", regex=True).apply(pd.to_numeric, errors='coerce')

Amit nem tudok float-ta alakitani azt NaN-re valtom

In [ ]:

df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

In [6]:
df

,Megnevezés,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Informatikai szakembereket alkalmazó vállalko...,NaN,27.5,27.4,28.7,27.9,27.4,30.2,30.3,30.6,32.0
1,Informatikai szakemberei részére képzést bizto...,7.7,8.1,8.5,8.1,8.7,8.0,8.3,9.0,9.3,NaN
2,Nem informatikai szakemberei részére informati...,13.3,13.3,14.1,14.3,13.6,13.9,13.6,14.8,16.0,NaN
3,Informatikai szakember állást meghírdetõ válla...,10.4,10.7,11.5,11.8,10.8,8.2,6.9,8.3,7.3,NaN
4,"Vállalkozások, akik nehezen tudták a meghírdet...",4.8,5.7,6.3,7.0,6.2,4.6,3.9,5.0,5.0,NaN

Felcserelem a sorokat az oszlopokkal az elemzeshez.

In [7]:
df=df.rename(columns={'Megnevezés': 'Év'})

In [8]:
df=df.transpose()

In [9]:
df.reset_index(inplace=True)

Kimentem a megtisztitott adatot.

In [10]:
out_path = "../data/processed/"
file_name = "clean_data.csv"
file_out_path = out_path+file_name
try:
    df.to_csv(file_out_path, index=False, header=False, encoding=encoding)
except OSError:
    print("Nincs ilyen mappa")