In [21]:
import pandas as pd
import numpy as np
import os

In [ ]:
path="../data/raw/"
file="raw_data.csv"
encoding='latin-1'
skiprows=1
#A file elso sora folosleges, encoding hibat ad ki a program utf-8 encodolasra, es a csv ';'-el van elvalasztva.
try:
    
    df=pd.read_csv(path+file, encoding=encoding, delimiter=';', skiprows=skiprows )
    
except UnicodeDecodeError:
    print("Unicode error")
except FileNotFoundError:
    print("A file nem talalhato a "+path+" mappaban")
else:
    print(df)

A file nem talalhato a ../data/raw/ mappaban

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   6 non-null      object
 1   0       1 non-null      object
 2   1       5 non-null      object
 3   2       6 non-null      object
 4   3       6 non-null      object
 5   4       6 non-null      object
 6   5       6 non-null      object
 7   6       6 non-null      object
 8   7       6 non-null      object
 9   8       6 non-null      object
 10  9       6 non-null      object
 11  10      2 non-null      object
dtypes: object(12)
memory usage: 708.0+ bytes

In [24]:
#Elso oszlopot, es sort kihagyva minden ,-t .-ra cserelek
df.iloc[:, 1:] = df.iloc[:, 1:].replace(",",".", regex=True).apply(pd.to_numeric, errors='coerce')

In [25]:
#Amit nem tudok float-ta alakitani azt NaN-re valtom
df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

In [26]:
df

,index,0,1,2,3,4,5,6,7,8,9,10
0,index,NaN,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
1,0,NaN,NaN,27.5,27.4,28.7,27.9,27.4,30.2,30.3,30.6,32.0
2,1,NaN,7.7,8.1,8.5,8.1,8.7,8.0,8.3,9.0,9.3,NaN
3,2,NaN,13.3,13.3,14.1,14.3,13.6,13.9,13.6,14.8,16.0,NaN
4,3,NaN,10.4,10.7,11.5,11.8,10.8,8.2,6.9,8.3,7.3,NaN
5,4,NaN,4.8,5.7,6.3,7.0,6.2,4.6,3.9,5.0,5.0,NaN

In [27]:
df=df.rename(columns={'Megnevezés': 'Év'})

In [28]:
df=df.transpose()

In [29]:
df.reset_index(inplace=True)

In [30]:
out_path = "../data/processed/"
file_name = "clean_data.csv"
file_out_path = out_path+file_name
try:
    df.to_csv(file_out_path, index=False, header=False, encoding=encoding)
except OSError:
    print("Nincs ilyen mappa")