In [1]:
import pandas as pd
import numpy as np
import scipy

In [2]:
path='../data/processed/'
file='dummy_out.csv'
encode='latin-1'
#A file elso sora folosleges, encoding hibat ad ki a program utf-8 encodolasra, es a csv ';'-el van elvalasztva.
try:
    df=pd.read_csv(path+file, encoding=encode, delimiter=',', skiprows=1, index_col=False)
    
except UnicodeDecodeError:
    print("Unicode error: "+encode+" nem mukodik")
except FileNotFoundError:
    print("A file nem talalhato a "+path+" mappaban")
else:
    print(df)

     Év  Informatikai szakembereket  alkalmazó vállalkozások  \
0  2014                                                NaN
1  2015                                               27.5
2  2016                                               27.4
3  2017                                               28.7
4  2018                                               27.9
5  2019                                               27.4
6  2020                                               30.2
7  2021                                               30.3
8  2022                                               30.6
9  2023                                               32.0

   Informatikai szakemberei részére képzést biztosító vállalkozások  \
0                                                7.7
1                                                8.1
2                                                8.5
3                                                8.1
4                                                8.7
5                                                8.0
6                                                8.3
7                                                9.0
8                                                9.3
9                                                NaN

   Nem informatikai szakemberei részére informatikai képzést biztosító vállalkozások  \
0                                               13.3
1                                               13.3
2                                               14.1
3                                               14.3
4                                               13.6
5                                               13.9
6                                               13.6
7                                               14.8
8                                               16.0
9                                                NaN

   Informatikai szakember állást meghírdetõ vállalkozások  \
0                                               10.4
1                                               10.7
2                                               11.5
3                                               11.8
4                                               10.8
5                                                8.2
6                                                6.9
7                                                8.3
8                                                7.3
9                                                NaN

   Vállalkozások, akik nehezen tudták a meghírdetett informatikai állásokat betölteni
0                                                4.8
1                                                5.7
2                                                6.3
3                                                7.0
4                                                6.2
5                                                4.6
6                                                3.9
7                                                5.0
8                                                5.0
9                                                NaN

In [3]:
df

,Év,Informatikai szakembereket alkalmazó vállalkozások,Informatikai szakemberei részére képzést biztosító vállalkozások,Nem informatikai szakemberei részére informatikai képzést biztosító vállalkozások,Informatikai szakember állást meghírdetõ vállalkozások,"Vállalkozások, akik nehezen tudták a meghírdetett informatikai állásokat betölteni"
0,2014,NaN,7.7,13.3,10.4,4.8
1,2015,27.5,8.1,13.3,10.7,5.7
2,2016,27.4,8.5,14.1,11.5,6.3
3,2017,28.7,8.1,14.3,11.8,7.0
4,2018,27.9,8.7,13.6,10.8,6.2
5,2019,27.4,8.0,13.9,8.2,4.6
6,2020,30.2,8.3,13.6,6.9,3.9
7,2021,30.3,9.0,14.8,8.3,5.0
8,2022,30.6,9.3,16.0,7.3,5.0
9,2023,32.0,NaN,NaN,NaN,NaN